<% if resource.errors.any? %>
  <div id="error_explanation">
    <ul>
      <% resource.errors.full_messages.each do |message| %>
        <li class="text-red-600 text-sm text-center"><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
