<% if flash[:notice] %>
  <p class="text-yellow-600 text-sm text-center my-2"><%= notice %></p>
<% end %>

<% if flash[:alert] %>
  <p class="text-red-600 text-sm text-center my-2"><%= alert %></p>
<% end %>

